thead {
    background-color: silver;
    #color: red;
}

body {
  background: url("/static/images/fundo.jpg") fixed;
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
}

.footer {
  position: fixed;
  bottom: 30px;
  clear:both;
  width: 100%;
#  padding-top:20px;
}

.base {
    position: fixed;
    bottom: 30px;
}