{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}

{% block content %}

<div class="container">

    <form method="post">

        {% csrf_token %}

        <div class="card" style="width:200px; margin-top:2%">
            <div class="card-body">
                {{ form.username|bootstrap }}
                {{ form.password|bootstrap }}
                <button type="submit" class="btn btn-primary btn-md">Acessar Sistema</button>
            </div>
        </div>

    </form>

</div>

{% endblock %}