{% extends "core/base.html" %}
{% load bootstrap %}

<style>
    le {text-align: right;}
    ld {text-align: left;}

</style>

{% block content %}
<form method="post">

    <h1>{{ user }}</h1>

    {% csrf_token %}

    <table>
        <tr>
            <td class="le"><label for="senha_atual">Senha atual</label></td>
            <td width="10px"></td>
            <td class="ld"><input required autofocus id="senha_atual" name="senha_atual" type="password" value="{{senha_atual}}" ></td>
        </tr>
        <tr>
            <td class="le"><label for="nova_senha">Nova senha</label></td>
            <td width="10px"></td>
            <td class="ld"><input required id="nova_senha" name="nova_senha" type="password" value="{{nova_senha}}"></td>
        </tr>
        <tr>
            <td class="le"><label for="confirma_senha">Confirmação</label></td>
            <td width="10px"></td>
            <td class="ld"><input required id="confirma_senha" name="confirma_senha" type="password" value="{{confirma_senha}}">
            </td>
        </tr>

        <tr>
            <td colspan="2"></td>
            <td class="ld">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-check"></i> Confirmar
                </button>
                <a href="{{ user.get_absolute_url }}">
                    <button type="button" class="btn btn-secondary" title="editar">
                        <i class="fas fa-edit"></i> Editar
                    </button>
                </a>
            </td>
        </tr>

    </table>

</form>
{% endblock %}